#wrap
{
    width: 800px;
    margin: 0 auto;
}

#head
{
    text-align: center;
}

#score
{
    color: red;
}

#card
{
    float: left;
    width: 120px;
    height: 120px;
    margin: 20px;
    font-size: 26pt;
    text-align: center;
}

#card span
{
    position: absolute;
}

#card div
{
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;
}

#card div.open
{
    background: none;
}

